# Node
node_modules/

# Capacitor / Android build output
android/.gradle/
android/build/
android/app/build/

# Local machine config
android/local.properties

# Release signing secrets
android/keystore.properties
*.jks
*.keystore


.idea/
android/.idea/
android/keystore.properties
